
.Gridcontainer {
    background-color: #567;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border-radius: 1%;
    padding-bottom: 7.5px;
    padding-right: 7.5px;
    padding-top: 1px;
}

.Gridrow {
    height: 100px;
    margin: auto;
    margin-top: 7.5px;
    width: auto
}

.Reset {
    float: left;
    height: 40px;
    width: 100px;
    margin-left: 7.5px;

    font-weight: bold;
    font-size: 25px;
    
    border: 0px;
    border-radius: 5px;
    color: #345;
    background-color: #678;
}

.Reset:hover {
  border: 5px solid #678;
}

.Score {
  float: right;
  height: 40px;
  width: 100px;
  margin-right: 7.5px;

  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  
  border: 0px;
  border-radius: 5px;
  color: #345;
  background-color: #678;
}

.Container {
    margin: 0;
    margin-top: 25px;
}

.GameContainer {
    margin: 0;
    margin-top: 25px;
}

.GameHeader {
  height: 40px;
}
  