.Empty {
  float: left;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-left: 7.5px;

  border-radius: 5%;
  background-color: #456;
}

.Tile {
  float: left;
  width: 100px;
  height: 90px;
  margin: auto;
  
  line-height: 75px;
  border-radius: 5%;
  background-color: #eb4;
  box-shadow: 0px 10px 0px #874;

  color: #feb;
  text-shadow: 0px 5px 0 #a82;
  font-weight: bold;
  font-size: 20px;
  overflow: hidden;
}

.TileSpawn {
  animation-name: spawn;
  animation-duration: 0.4s;
}

@keyframes spawn {
  0%    { height: 00px;}
  100%  { height: 90px;}
}