.Empty {
  background-color: #456;
  border-radius: 5%;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-left: 7.5px;
  float: left;
  color: #bef;
  font-size: 50px;
  text-shadow: 0px 5px 0 #28a;
}

.Tile {
  width: 100px;
  height: 90px;
  line-height: 75px;
  float: left;
  margin: auto;
  margin-left: 7.5px;
  border-radius: 5%;
  font-size: 50px;
  color: #feb;
  text-shadow: 0px 5px 0 #a82;
  background-color: #eb4;
  box-shadow: 0px 10px 0px #874;
}

