
.Gridcontainer {
    background-color: #567;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border-radius: 1%;
    padding-bottom: 7.5px;
    padding-right: 7.5px;
    padding-top: 1px;
  }
  
  .Gridrow {
    height: 100px;
    margin: auto;
    margin-top: 7.5px;
    width: auto
  }

  .Button {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-bottom: 10px;
    width: fit-content;
  }

  .Score {
    float: left;
    margin: 0;
  }

  .Container {
    margin: 0;
    margin-top: 50px;
  }
  
  