.App {
  text-align: center;
  height: 100vh;
  background-color: #234;
}

.Header {
  text-align: center;
  background-color: #345;
  color: #fa5;
  text-shadow: 0px 7.5px 0 #a52;
  padding: 5px;
  font-size: 75px;
  font-weight: bold;
}

.Content {
  display: flex;
  padding-bottom: 50px;
  margin: 0;
  background-color: #234;
  padding-bottom: 25px;
}