.App {
  text-align: center;
  height: 100vh;
  background-color: #234;
}

.Header {
  text-align: center;
  background-color: #345;
  color: #fa5;
  text-shadow: 0px 0.5vh 0 #a52;
  padding: 1vh;
  font-size: 10vh;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.Content {
  margin: auto;
  display: flex;
  padding-bottom: 50px;
  margin: 0;
  background-color: #234;
}