.App {
  text-align: center;
}

.Header {
  text-align: center;
  background-color: #345;
  color: #fa5;
  text-shadow: 0px 0.5vh 0 #a52;
  padding: 1vh;
  font-size: 10vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Content {
  background-color: #234;
  display: flex;
  height: 90vh;
  margin: 0;
}

.Text {
  color: #ddd;
  font-size: 4vh;
  text-align: left;
  margin-left: 5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
